OPENAI_API_KEY = sk-xxx
GEMINI_API_KEY= example

CBOX_URL = https://my.cbox.ws/example or https://www4.cbox.ws/box/?boxid=xxxxx&boxtag=xxxx
CBOX_USERNAME = example
CBOX_PASSWORD = example
CBOX_DEFAULT_PIC= https://cbox.im/i/mUYUb.jpg

DISCORD_URL = https://discord.gg/your-server-invite

MAX_LENGTH_RESPONSE = 200
CONTEXT_LENGTH = 5
TEXT_COLOR= b95dff
RESPONSE_DELAY = 1000
USE_MEMORY = true
